/* line 1, ../../sass/sass/index.scss */
#index-content {
  position: relative;
}
/* line 3, ../../sass/sass/index.scss */
#index-content .div-section-menu {
  padding-top: 80px;
}
/* line 7, ../../sass/sass/index.scss */
#index-content .progressItemTitle.progress {
  width: 200px !important;
  margin: auto;
}
/* line 13, ../../sass/sass/index.scss */
#index-content .parallax .btn {
  color: #000 !important;
}
/* line 16, ../../sass/sass/index.scss */
#index-content .parallax#hire-me {
  background-image: url("/public/images/background/slide2.jpg");
}
/* line 19, ../../sass/sass/index.scss */
#index-content .parallax#resume-download {
  background-image: url("/public/images/background/slide2.jpg");
}
/* line 22, ../../sass/sass/index.scss */
#index-content .parallax#body-interval-page2 {
  background-image: url("/public/images/background/slide2.jpg");
}
/* line 27, ../../sass/sass/index.scss */
#index-content #About .card-wrapper {
  margin: 0 !important;
}
@media screen and (max-width: 767px) {
  /* line 30, ../../sass/sass/index.scss */
  #index-content #About .card-wrapper.card-height {
    height: 630px !important;
  }
}
/* line 37, ../../sass/sass/index.scss */
#index-content #About .aboutFooter .aboutFooter-list .aboutSkillsList {
  width: 50%;
  margin-top: -20px;
}
/* line 40, ../../sass/sass/index.scss */
#index-content #About .aboutFooter .aboutFooter-list .aboutSkillsList p {
  margin: -5px 0 5px 0;
}
/* line 43, ../../sass/sass/index.scss */
#index-content #About .aboutFooter .aboutFooter-list .aboutSkillsList .progress-container {
  border: 1px solid #ccc;
  height: 19px;
  background: #f3f3f3;
}
/* line 47, ../../sass/sass/index.scss */
#index-content #About .aboutFooter .aboutFooter-list .aboutSkillsList .progress-container .progress {
  height: 18px;
  font-size: 12px;
  text-align: center;
  color: #000;
}
/* line 52, ../../sass/sass/index.scss */
#index-content #About .aboutFooter .aboutFooter-list .aboutSkillsList .progress-container .progress.progress-info {
  background: #2BBBAD !important;
}
/* line 61, ../../sass/sass/index.scss */
#index-content #Resume {
  background-image: url("/public/images/background/bgGreyDots.jpg");
}
/* line 64, ../../sass/sass/index.scss */
#index-content #Resume .timeline-content {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}
/* line 69, ../../sass/sass/index.scss */
#index-content #Resume .timeline-content:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  left: 20%;
  margin-left: -5px;
  background: #2BBBAD;
}
/* line 79, ../../sass/sass/index.scss */
#index-content #Resume .timeline-content li {
  position: relative;
}
/* line 81, ../../sass/sass/index.scss */
#index-content #Resume .timeline-content li .time-date {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
}
/* line 86, ../../sass/sass/index.scss */
#index-content #Resume .timeline-content li .time-date span {
  display: block;
}
/* line 88, ../../sass/sass/index.scss */
#index-content #Resume .timeline-content li .time-date span:last-child {
  font-size: 15px;
  padding: 15px 0px;
  color: #575454;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
/* line 99, ../../sass/sass/index.scss */
#index-content #Resume .timeline-content li .time-icon {
  width: 40px;
  height: 40px;
  text-transform: none;
  font-size: 22px;
  line-height: 42px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  background: #f9f9f9;
  color: #2BBBAD;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #ddd;
  text-align: center;
  left: 20%;
  top: 0;
  margin: 0 0 0 -25px;
}
/* line 116, ../../sass/sass/index.scss */
#index-content #Resume .timeline-content li .time-details {
  margin: 0 0 15px 25%;
  background: #F7F8F8;
  color: #888;
  padding: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  position: relative;
  border-radius: 2px;
}
/* line 126, ../../sass/sass/index.scss */
#index-content #Resume .timeline-content li .time-details h3 {
  font-size: 18px;
  color: #575454;
}
/* line 130, ../../sass/sass/index.scss */
#index-content #Resume .timeline-content li .time-details h4 {
  font-size: 15px;
  color: #2BBBAD;
}
/* line 134, ../../sass/sass/index.scss */
#index-content #Resume .timeline-content li .time-details p, #index-content #Resume .timeline-content li .time-details span {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.9px;
  color: #050505;
}
/* line 141, ../../sass/sass/index.scss */
#index-content #Resume .timeline-content li .time-details:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-right-color: #f3f3f3;
  border-width: 10px;
  top: 10px;
}
/* line 152, ../../sass/sass/index.scss */
#index-content #Resume .timeline-content li .time-details .workExpDoSub {
  margin-left: 20px;
  display: block;
}
/* line 163, ../../sass/sass/index.scss */
#index-content #Portfolio .portfolio-body .portfolio-item {
  padding: 0;
  margin: 0 10px 20px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 172, ../../sass/sass/index.scss */
#index-content #Portfolio .portfolio-body .portfolio-item.col-lg-4 {
  width: 30.333333%;
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  /* line 176, ../../sass/sass/index.scss */
  #index-content #Portfolio .portfolio-body .portfolio-item.col-md-4 {
    width: 30.333333%;
  }
}
@media screen and (max-width: 767px) {
  /* line 181, ../../sass/sass/index.scss */
  #index-content #Portfolio .portfolio-body .portfolio-item.col-sm-6 {
    width: 92.333333%;
  }
}
/* line 185, ../../sass/sass/index.scss */
#index-content #Portfolio .portfolio-body .portfolio-item .card-block {
  opacity: 0;
  height: 230px;
}
/* line 188, ../../sass/sass/index.scss */
#index-content #Portfolio .portfolio-body .portfolio-item .card-block:hover {
  opacity: 1;
  background: rgba(43, 187, 173, 0.6);
}
/* line 197, ../../sass/sass/index.scss */
#index-content #Contact {
  background-image: url("/public/images/background/bgGreyDots.jpg");
}
/* line 200, ../../sass/sass/index.scss */
#index-content #Contact .contact-body .card {
  overflow: visible !important;
}
/* line 203, ../../sass/sass/index.scss */
#index-content #Contact .contact-body .form-header {
  color: #fff;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 3rem;
  padding: 1rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
/* line 217, ../../sass/sass/index.scss */
#index-content #Contact .contact-body .md-form label {
  left: 17px !important;
}
/* line 219, ../../sass/sass/index.scss */
#index-content #Contact .contact-body .md-form label.active {
  -webkit-transform: translateY(-40%) !important;
  -moz-transform: translateY(-40%) !important;
  -ms-transform: translateY(-40%) !important;
  -o-transform: translateY(-40%) !important;
  transform: translateY(-40%) !important;
}
/* line 228, ../../sass/sass/index.scss */
#index-content #Contact .contact-body .contact-icon {
  cursor: default;
}
