html, body {
    height: 100%;
}
body {
    width: 100%;
    min-height: 100%;
    font-family: "Malgun Gothic", Helvetica, Arial;
}
.page960 {
    width: 94%;
    max-width: 960px;
    margin: 0 auto;
}
.home{
    .home-list{
        position: absolute;
        z-index: 1;
        color: #fff;
        ul li{
            .mySlogan{
                span{
                  animation: blink 1s infinite;
                }
                @keyframes blink{
                  to{opacity: .0;}
                }
            }
        }
    }
}
.sticky-wrapper{
    width: 100%;
    z-index: 2;
    .navbar{
        text-transform: uppercase;
        &.bg-primary{
            background: #2BBBAD !important;
        }
        .navbar-desktop{
            &.navbar-height{
                height: 30px;
                font-size: 16px;
                margin-top: 20px;
            }
        }
    }
}
#sidenav-overlay{
    z-index: 1;
}
.footer{
    .page-footer{
        margin-top: 0px;
        background: #2BBBAD !important;
    }
}