#{extends 'main.html' /}
#{set title:'Home' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="/public/stylesheets/sass/magnific-popup.css">
#{/}

#{set 'moreScripts'}
<script type="text/javascript" src="/public/javascripts/jquery.magnific-popup.min.js"></script>
<script>
website.controller('indexCtrl', function($scope) {
    $scope.aboutSkillsList = [
        {
            aboutSkillsName: "&{'aboutSkillsHtml'}",
            aboutSkillsValue: "95",
        },
        {
            aboutSkillsName: "&{'aboutSkillsCss'}",
            aboutSkillsValue: "95",
        },
        {
            aboutSkillsName: "&{'aboutSkillsJavascript'}",
            aboutSkillsValue: "95",
        },
        {
            aboutSkillsName: "&{'aboutSkillsJquery'}",
            aboutSkillsValue: "95",
        },
        {
            aboutSkillsName: "&{'aboutSkillsBootstrap'}",
            aboutSkillsValue: "95",
        },
        {
            aboutSkillsName: "&{'aboutSkillsSass'}",
            aboutSkillsValue: "95",
        },
        {
            aboutSkillsName: "&{'aboutSkillsAngular'}",
            aboutSkillsValue: "85",
        },
        {
            aboutSkillsName: "&{'aboutSkillsPhp'}",
            aboutSkillsValue: "80",
        },
    ];

    $scope.educBackground = [
        {
            educTitle: "&{'educTertiary'}",
            educYear: "&{'educTerYear'}",
            educSchool: "&{'educTerSchool'}",
            educAdd: "&{'educTerAdd'}",
            educProgram: "&{'educTerProgram'}",
            invertedClass: "timeline-inverted",
            badgeClass: "primary",
            faIcon: "fa-graduation-cap",
        },
        {
            educTitle: "&{'educPrimary'}",
            educYear: "&{'educPriYear'}",
            educSchool: "&{'educPriSchool'}",
            educAdd: "&{'educPriAdd'}",
            badgeClass: "success",
            faIcon: "fa-certificate",
        },
        {
            educTitle: "&{'educSecondary'}",
            educYear: "&{'educSecYear'}",
            educSchool: "&{'educSecSchool'}",
            educAdd: "&{'educSecAdd'}",
            invertedClass: "timeline-inverted",
            badgeClass: "warning",
            faIcon: "fa-hourglass-end",
        },
    ];

    $scope.workExperience = [
        {
            workExpTitle: "&{'workExpKinpo_1'}",
            workExpPos: "&{'workExpKinpo_2'}",
            workExpDate: "&{'workExpKinpo_3'}",
            workExpJob:[
                {
                    workExpDo: "&{'workExpKinpo_4'}",
                },
                {
                    workExpDo: "&{'workExpKinpo_5'}",
                },
            ],
            badgeClass: "danger",
            faIcon: "fa-code",
        },
        {
            workExpTitle: "&{'workExpIntern_1'}",
            workExpPos: "&{'workExpIntern_2'}",
            workExpDate: "&{'workExpIntern_3'}",
            workExpJob:[
                {
                    workExpDo: "&{'workExpIntern_4'}",
                },
                {
                    workExpDo: "&{'workExpIntern_5'}",
                },
                {
                    workExpDo: "&{'workExpIntern_6'}",
                },
            ],
            invertedClass: "timeline-inverted",
            badgeClass: "info",
            faIcon: "fa-file-word-o",
        },
        {
            workExpTitle: "&{'workExpStudent_1'}",
            workExpPos: "&{'workExpStudent_2'}",
            workExpDate: "&{'workExpStudent_3'}",
            workExpJob:[
                {
                    workExpDo: "&{'workExpStudent_4'}",
                },
                {
                    workExpDo: "&{'workExpKinpo_5'}",
                },
            ],
            badgeClass: "primary",
            faIcon: "fa-globe",
        },
    ];

    $scope.portfolio = [
        {
            portfolioImg: "http://brandflow.pl/wp-content/uploads/2015/09/slider3.jpg",
            portfolioUrl: "",
        },
        {
            portfolioImg: "http://brandflow.pl/wp-content/uploads/2015/09/slider3.jpg",
            portfolioUrl: "",
        },
        {
            portfolioImg: "http://brandflow.pl/wp-content/uploads/2015/09/slider3.jpg",
            portfolioUrl: "",
        },
    ];
});
</script>
<script>
$(document).ready(function(){
    var go = true;
    setTimeout(function(){
        $('.progress-container .progress').each(function() {
            var me = $(this);
            var perc = me.attr("data-percentage");
            //TODO: left and right text handling
            var current_perc = 0;
            var progress = setInterval(function() {
                if (current_perc>=perc) {
                    clearInterval(progress);
                } else {
                    current_perc +=1;
                    me.css('width', (current_perc)+'%');
                }
                me.text((current_perc)+'%');
            }, 80);
        });
    },300);


    $('.image-popup').magnificPopup({
		type: 'image',
		closeOnContentClick: true,
		mainClass: 'mfp-img-mobile',
		image: {
			verticalFit: true
		}
	});
});
</script>
#{/}

<section id="index-content" ng-controller="indexCtrl">
    <!-- About Section -->
    <section id="About" class="div-section-menu">
        <div class="container page960">
            <div class="row">
                <div class="about-content col-lg-12 col-md-12 col-sm-12">
                    <div class="aboutTitle">
                        <h4 class="titleFont flex-center">&{'aboutMe'}</h4>
                        <!--<div class="progressItemTitle progress">-->
                        <!--<div class="indeterminate" style="width: 70%"></div>-->
                        <!--</div>-->
                    </div>
                    <div class="clear"></div>
                    <div class="push25"></div>
                    <div class="aboutBody">
                        <div class="aboutBody-image col-md-5">
                            <img class="img-thumbnail" src="/public/images/profile.jpg" />
                            <!--<img class="img-thumbnail" src="" />-->
                        </div>
                        <div class="aboutBody-info col-md-7">
                            <p class="">&{'aboutInfo'}</p>
                            <div class="page-scroll aboutBody-btn">
                                <a href="#Portfolio" class="btn btn-default">
                                    <i class="fa fa-briefcase fa-1x" aria-hidden="true"></i>
                                    SEE PORTFOLIO
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="push25"></div>
                    <div class="aboutFooter">
                        <div class="aboutFooter-list">
                            <ul class="list-group">
                                <li class="list-group-item aboutSkillsList" ng-repeat="item in aboutSkillsList">
                                    <p>{{item.aboutSkillsName}}</p>
                                    <div class="progress-container">
                                        <div class="progress progress-info"  data-percentage="{{item.aboutSkillsValue}}" data-toggle="tooltip" data-placement="bottom" title="{{item.aboutSkillsValue}}%" value="{{item.aboutSkillsValue}}" style="width:0%;"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END -->

    <div class="clear"></div>
    <div class="push25"></div>

    <section class="parallax" id="hire-me">
        <div class="container text-center flex-center page-scroll">
            <a href="#Contact" class="btn btn-default btn-lg">
                <i class="fa fa-phone fa-1x" aria-hidden="true"></i>
                HIRE ME
            </a>
        </div>
    </section>

    <!-- Resume -->
    <section id="Resume" class="div-section-menu">
        <section class="container page960">
            <div class="row">
                <div class="work-content col-lg-12 col-md-12 col-sm-12">
                    <div class="workTitle">
                        <h4 class="titleFont flex-center">&{'workExpTitle'}</h4>
                        <!--<div class="progressItemTitle progress">-->
                            <!--<div class="indeterminate" style="width: 70%"></div>-->
                        <!--</div>-->
                    </div>
                    <div class="clear"></div>
                    <div class="push25"></div>
                    <div class="workBody">
                        <ul class="timeline-content">
                            <li ng-repeat="item in workExperience">
                                <div class="time-date">
                                    <span>{{item.workExpDate}}</span>
                                </div>
                                <i class="time-icon fa {{item.faIcon}} fa-2x" aria-hidden="true"></i>
                                <div class="time-details">
                                    <h3>{{item.workExpTitle}}</h3>
                                    <h4>{{item.workExpPos}}</h4>
                                    <span ng-repeat="work in item.workExpJob">{{work.workExpDo}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="push50"></div>
                <div class="educ-content col-lg-12 col-md-12 col-sm-12">
                    <div class="educTitle">
                        <h4 class="titleFont flex-center">&{'educTitle'}</h4>
                        <!--<div class="progressItemTitle progress">-->
                            <!--<div class="indeterminate" style="width: 70%"></div>-->
                        <!--</div>-->
                    </div>
                    <div class="clear"></div>
                    <div class="push25"></div>
                    <div class="educBody">
                        <ul class="timeline-content">
                            <li ng-repeat="item in educBackground">
                                <div class="time-date">
                                    <span>{{item.educYear}}</span>
                                </div>
                                <i class="time-icon fa {{item.faIcon}} fa-2x" aria-hidden="true"></i>
                                <div class="time-details">
                                    <h3>{{item.educSchool}}</h3>
                                    <h4>{{item.educProgram}}</h4>
                                    <p>{{item.educAdd}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="clear"></div>
        <div class="push50"></div>
    </section>
    <!-- END Resume -->

    <section class="parallax" id="resume-download">
        <div class="container text-center flex-center">
            <a download="Resume-Jerald-Update.pdf" href="public/resume-file/Resume-Jerald-Update.pdf" class="btn btn-default btn-lg">
                <i class="fa fa-cloud-download fa-1x" aria-hidden="true"></i>
                Download CV
            </a>
        </div>
    </section>

    <!-- Portfolio -->
    <section id="Portfolio" class="div-section-menu">
        <div class="container page960">
            <div class="row">
                <div class="portfolio-content col-lg-12 col-md-12 col-sm-12">
                    <div class="portfolioTitle">
                        <h4 class="titleFont flex-center">&{'portfolioTitle'}</h4>
                        <!--<div class="progressItemTitle progress">-->
                        <!--<div class="indeterminate" style="width: 70%"></div>-->
                        <!--</div>-->
                    </div>
                    <div class="clear"></div>
                    <div class="push25"></div>
                    <div class="portfolio-body">
                        <div class="portfolio-item col-lg-4 col-md-4 col-sm-6" ng-repeat="item in portfolio">
                            <div class="img-wrapper mix">
                                <img src="{{item.portfolioImg}}" class="img-responsive" />
                            </div>
                            <div class="img-overlay">
                                <span>
                                    <a href="{{item.portfolioImg}}" class="image-popup">
                                        <i class="fa fa-camera-retro"></i>
                                    </a>
                                    <a href="{{item.portfolioUrl}}">
                                        <i class="fa fa-chain"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Portfolio -->

    <div class="clear"></div>
    <div class="push50"></div>

</section>