#{extends 'main.html' /}
#{set title:'Jerald Gutierrez' /}

#{set 'moreScripts'}
<script>
website.controller('indexCtrl', function($scope) {
    $scope.aboutSkillsList = [
        {
            aboutSkillsName: "&{'aboutSkillsHtml'}",
            aboutSkillsValue: "95",
        },
        {
            aboutSkillsName: "&{'aboutSkillsCss'}",
            aboutSkillsValue: "95",
        },
        {
            aboutSkillsName: "&{'aboutSkillsJavascript'}",
            aboutSkillsValue: "95",
        },
        {
            aboutSkillsName: "&{'aboutSkillsJquery'}",
            aboutSkillsValue: "95",
        },
        {
            aboutSkillsName: "&{'aboutSkillsBootstrap'}",
            aboutSkillsValue: "95",
        },
        {
            aboutSkillsName: "&{'aboutSkillsSass'}",
            aboutSkillsValue: "95",
        },
        {
            aboutSkillsName: "&{'aboutSkillsAngular'}",
            aboutSkillsValue: "85",
        },
        {
            aboutSkillsName: "&{'aboutSkillsPhp'}",
            aboutSkillsValue: "80",
        },
    ];

    $scope.educBackground = [
        {
            educTitle: "&{'educTertiary'}",
            educYear: "&{'educTerYear'}",
            educSchool: "&{'educTerSchool'}",
            educAdd: "&{'educTerAdd'}",
            educProgram: "&{'educTerProgram'}",
            invertedClass: "timeline-inverted",
            badgeClass: "primary",
            faIcon: "fa-graduation-cap",
        },
        {
            educTitle: "&{'educPrimary'}",
            educYear: "&{'educPriYear'}",
            educSchool: "&{'educPriSchool'}",
            educAdd: "&{'educPriAdd'}",
            badgeClass: "success",
            faIcon: "fa-certificate",
        },
        {
            educTitle: "&{'educSecondary'}",
            educYear: "&{'educSecYear'}",
            educSchool: "&{'educSecSchool'}",
            educAdd: "&{'educSecAdd'}",
            invertedClass: "timeline-inverted",
            badgeClass: "warning",
            faIcon: "fa-hourglass-end",
        },
    ];

    $scope.workExperience = [
        {
            workExpTitle: "&{'workExpKinpo_1'}",
            workExpPos: "&{'workExpKinpo_2'}",
            workExpDate: "&{'workExpKinpo_3'}",
            workExpJob:[
                {
                    workExpDo: "&{'workExpKinpo_4'}",
                },
                {
                    workExpDo: "&{'workExpKinpo_5'}",
                },
            ],
            badgeClass: "danger",
            faIcon: "fa-code",
        },
        {
            workExpTitle: "&{'workExpIntern_1'}",
            workExpPos: "&{'workExpIntern_2'}",
            workExpDate: "&{'workExpIntern_3'}",
            workExpJob:[
                {
                    workExpDo: "&{'workExpIntern_4'}",
                },
                {
                    workExpDo: "&{'workExpIntern_5'}",
                },
                {
                    workExpDo: "&{'workExpIntern_6'}",
                },
            ],
            invertedClass: "timeline-inverted",
            badgeClass: "info",
            faIcon: "fa-file-word-o",
        },
        {
            workExpTitle: "&{'workExpStudent_1'}",
            workExpPos: "&{'workExpStudent_2'}",
            workExpDate: "&{'workExpStudent_3'}",
            workExpJob:[
                {
                    workExpDo: "&{'workExpStudent_4'}",
                },
                {
                    workExpDo: "&{'workExpKinpo_5'}",
                },
            ],
            badgeClass: "primary",
            faIcon: "fa-globe",
        },
    ];

    $scope.portfolio = [
        {
            portfolioImg: "/public/images/portfolio/item-1.png",
            portfolioUrl: "http://gutierrez.herokuapp.com/",
        },
        {
            portfolioImg: "/public/images/background/slide1.jpg",
            portfolioUrl: "",
        },
        {
            portfolioImg: "/public/images/background/slide2.jpg",
            portfolioUrl: "",
        },
        {
            portfolioImg: "/public/images/background/slide3.jpg",
            portfolioUrl: "",
        },
        {
            portfolioImg: "/public/images/background/slide4.jpg",
            portfolioUrl: "",
        },
        {
            portfolioImg: "/public/images/background/slide1.jpg",
            portfolioUrl: "",
        },
    ];
});
</script>
<script>
$(document).ready(function(){
    var go = true;
    setTimeout(function(){
        $('.progress-container .progress').each(function() {
            var me = $(this);
            var perc = me.attr("data-percentage");
            //TODO: left and right text handling
            var current_perc = 0;
            var progress = setInterval(function() {
                if (current_perc>=perc) {
                    clearInterval(progress);
                } else {
                    current_perc +=1;
                    me.css('width', (current_perc)+'%');
                }
                me.text((current_perc)+'%');
            }, 80);
        });
    },300);

    $('.card-wrapper').css("height","800px");
    $('.about-rotate-1').click(function(){
        $('.card-wrapper').css("height","500px");
        $('#cardWrapper').addClass("card-height");
    });
    $('.about-rotate-2').click(function(){
        $('.card-wrapper').css("height","800px");
        $('#cardWrapper').removeClass("card-height");
    });


    $('.image-popup').magnificPopup({
		type: 'image',
		closeOnContentClick: true,
		mainClass: 'mfp-img-mobile',
		image: {
			verticalFit: true
		}
	});

	$('.md-textarea').keyup(function(){
	    //$('.md-textarea').css("overflow-y","scroll");
	});

	function init_map() {
        var var_location = new google.maps.LatLng(13.8721364, 121.02204219999999);
        var var_mapoptions = {
            center: var_location,
            zoom: 13
        };

        var var_marker = new google.maps.Marker({
            position: var_location,
            map: var_map,
            title: "Alitagtag Batangas"
        });

        var var_map = new google.maps.Map(document.getElementById("map-container"),
        var_mapoptions);
        var_marker.setMap(var_map);
    }
    google.maps.event.addDomListener(window, 'load', init_map);
});
</script>
#{/}

<section id="index-content" ng-controller="indexCtrl">
    <!-- About Section -->
    <section id="About" class="">
        <div class="container-fluid">
            <div class="row">
                <div class="card-wrapper" id="cardWrapper">
                    <div id="card-1" class="card-rotating effect__click">
                        <div class="face front">
                            <div class="card-up" style="height:35%;">
                                <img src="/public/images/background/slide4.jpg" class="img-fluid">
                            </div>
                            <div class="avatar"><img src="/public/images/profile.jpg" class="img-circle img-responsive">
                            </div>
                            <div class="card-block page960">
                                <div class="aboutBody">
                                    <h4>&{'aboutName'}</h4>
                                    <p>&{'aboutPos'}</p>
                                </div>
                                <div class="clear"></div>
                                <div class="push25"></div>
                                <div class="aboutFooter">
                                    <div class="aboutFooter-list">
                                        <ul class="list-group">
                                            <li class="list-group-item aboutSkillsList" ng-repeat="item in aboutSkillsList">
                                                <p class="text-left">{{item.aboutSkillsName}}</p>
                                                <div class="progress-container">
                                                    <div class="progress progress-info"  data-percentage="{{item.aboutSkillsValue}}" data-toggle="tooltip" data-placement="bottom" title="{{item.aboutSkillsValue}}%" value="{{item.aboutSkillsValue}}" style="width:0%;"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="page-scroll">
                                    <a href="#faceBack" class="rotate-btn about-rotate-1" data-card="card-1">
                                        <i class="fa fa-repeat"></i>
                                        &{'clickMe'}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="face back" id="faceBack">
                            <div class="page960">
                                <div class="push50"></div>
                                <div class="aboutTitle">
                                    <h4 class="titleFont flex-center">&{'aboutMe'}</h4>
                                    <!--<div class="progressItemTitle progress">-->
                                    <!--<div class="indeterminate" style="width: 70%"></div>-->
                                    <!--</div>-->
                                </div>
                                <hr>
                                <div class="aboutBody-info">
                                    <p class="">&{'aboutInfo'}</p>
                                    <div class="page-scroll aboutBody-btn">
                                        <a href="#Portfolio" class="btn btn-default">
                                            <i class="fa fa-briefcase fa-1x" aria-hidden="true"></i>
                                            &{'seePortfolio'}
                                        </a>
                                    </div>
                                </div>
                                <hr>
                                <a class="rotate-btn about-rotate-2" data-card="card-1">
                                    <i class="fa fa-undo"></i>
                                    &{'clickMe'}
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END -->

    <section class="parallax" id="hire-me">
        <div class="container text-center flex-center page-scroll">
            <a href="#Contact" class="btn btn-white-outline btn-lg">
                <i class="fa fa-phone fa-1x" aria-hidden="true"></i>
                &{'hireMe'}
            </a>
        </div>
    </section>

    <!-- Resume -->
    <section id="Resume" class="div-section-menu">
        <section class="container page960">
            <div class="row">
                <div class="work-content col-lg-12 col-md-12 col-sm-12">
                    <div class="workTitle">
                        <h4 class="titleFont flex-center">&{'workExpTitle'}</h4>
                        <!--<div class="progressItemTitle progress">-->
                            <!--<div class="indeterminate" style="width: 70%"></div>-->
                        <!--</div>-->
                    </div>
                    <div class="clear"></div>
                    <div class="push25"></div>
                    <div class="workBody">
                        <ul class="timeline-content">
                            <li ng-repeat="item in workExperience">
                                <div class="time-date">
                                    <span>{{item.workExpDate}}</span>
                                </div>
                                <i class="time-icon fa {{item.faIcon}} fa-2x" aria-hidden="true"></i>
                                <div class="time-details">
                                    <h3>{{item.workExpTitle}}</h3>
                                    <h4>{{item.workExpPos}}</h4>
                                    <p ng-repeat="work in item.workExpJob">{{work.workExpDo}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="push50"></div>
                <div class="educ-content col-lg-12 col-md-12 col-sm-12">
                    <div class="educTitle">
                        <h4 class="titleFont flex-center">&{'educTitle'}</h4>
                        <!--<div class="progressItemTitle progress">-->
                            <!--<div class="indeterminate" style="width: 70%"></div>-->
                        <!--</div>-->
                    </div>
                    <div class="clear"></div>
                    <div class="push25"></div>
                    <div class="educBody">
                        <ul class="timeline-content">
                            <li ng-repeat="item in educBackground">
                                <div class="time-date">
                                    <span>{{item.educYear}}</span>
                                </div>
                                <i class="time-icon fa {{item.faIcon}} fa-2x" aria-hidden="true"></i>
                                <div class="time-details">
                                    <h3>{{item.educSchool}}</h3>
                                    <h4>{{item.educProgram}}</h4>
                                    <p>{{item.educAdd}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="clear"></div>
        <div class="push50"></div>
    </section>
    <!-- END Resume -->

    <section class="parallax" id="resume-download">
        <div class="container text-center flex-center">
            <a download="Resume-Jerald-Update.pdf" href="public/resume-file/Resume-Jerald-Update.pdf" class="btn btn-white-outline btn-lg">
                <i class="fa fa-cloud-download fa-1x" aria-hidden="true"></i>
                &{'downloadCV'}
            </a>
        </div>
    </section>

    <!-- Portfolio -->
    <section id="Portfolio" class="div-section-menu">
        <div class="container page960">
            <div class="row">
                <div class="portfolio-content col-lg-12 col-md-12 col-sm-12">
                    <div class="portfolioTitle">
                        <h4 class="titleFont flex-center">&{'portfolioTitle'}</h4>
                        <!--<div class="progressItemTitle progress">-->
                        <!--<div class="indeterminate" style="width: 70%"></div>-->
                        <!--</div>-->
                    </div>
                    <div class="clear"></div>
                    <div class="push25"></div>
                    <div class="portfolio-body">
                        <div class="card-overlay portfolio-item col-lg-4 col-md-4 col-sm-6" ng-repeat="item in portfolio" style="background-image: url({{item.portfolioImg}});">
                            <div class="white-text text-xs-center">
                                <div class="card-block flex-center">
                                    <a href="{{item.portfolioImg}}" class="btn btn-lg btn-white-outline image-popup">
                                        <i class="fa fa-camera-retro"></i>
                                    </a>
                                    <a href="{{item.portfolioUrl}}" target="_blank" class="btn btn-lg btn-white-outline" ng-hide="item.portfolioUrl == ''">
                                        <i class="fa fa-chain"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Portfolio -->

    <div class="clear"></div>
    <!--<div class="push100"></div>-->
    <!--<div class="push100"></div>-->
    <div class="push50"></div>

    <!-- Contact -->
    <section id="Contact" class="div-section-menu">
        <div class="container page960">
            <div class="row">
                <div class="contact-content">
                    <div class="portfolioTitle">
                        <h4 class="titleFont flex-center">&{'contactTitle'}</h4>
                        <!--<div class="progressItemTitle progress">-->
                        <!--<div class="indeterminate" style="width: 70%"></div>-->
                        <!--</div>-->
                    </div>
                    <div class="clear"></div>
                    <div class="push50"></div>
                    <div class="contact-body">
                        <div class="col-md-5">
                            <div class="card">
                                <div class="card-block">
                                    <div class="form-header btn-tw">
                                        <h3><i class="fa fa-envelope"></i> &{'contactHeader'}</h3>
                                    </div>
                                    <div class="md-form">
                                        <i class="fa fa-user prefix"></i>
                                        <input type="text" id="form3" class="form-control">
                                        <label for="form3">&{'yourName'}</label>
                                    </div>
                                    <div class="md-form">
                                        <i class="fa fa-envelope prefix"></i>
                                        <input type="text" id="form2" class="form-control">
                                        <label for="form2">&{'yourEmail'}</label>
                                    </div>
                                    <div class="md-form">
                                        <i class="fa fa-tag prefix"></i>
                                        <input type="text" id="form32" class="form-control">
                                        <label for="form32">&{'yourSubject'}</label>
                                    </div>
                                    <div class="md-form">
                                        <i class="fa fa-pencil prefix"></i>
                                        <textarea type="text" id="form8" class="md-textarea" length="250" maxlength="250"></textarea>
                                        <label for="form8">&{'yourMessage'}</label>
                                    </div>
                                    <div class="text-xs-center">
                                        <a class="btn btn-default">
                                            <i class="fa fa-paper-plane"></i>
                                            &{'contactSend'}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div id="map-container" class="z-depth-1-half map-container" style="height: 300px"></div>
                            <br>
                            <div class="row text-xs-center">
                                <div class="col-md-4">
                                    <a class="contact-icon btn-floating btn-small btn-tw btn-default"><i class="fa fa-map-marker"></i></a>
                                    <p>&{'contactAdd'}</p>
                                </div>

                                <div class="col-md-4">
                                    <a class="contact-icon btn-floating btn-small btn-tw btn-default"><i class="fa fa-phone"></i></a>
                                    <p>&{'contactPhone'}</p>
                                </div>

                                <div class="col-md-4">
                                    <a class="contact-icon btn-floating btn-small btn-tw btn-default"><i class="fa fa-envelope"></i></a>
                                    <p style="word-break: break-all;">&{'contactEmail'}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="push100"></div>
        <div class="push50"></div>
    </section>
    <!-- End Contact -->

</section>