<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/profile-icon.ico'}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/mdbootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/mdbootstrap/css/mdb.min.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/sass/fullcarousel.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/sass/screen.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/sass/main.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/sass/index.css">
    #{get 'moreStyles' /}

    <script type="text/javascript" src="/public/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/public/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/public/mdbootstrap/js/tether.min.js"></script>
    <script src="/public/mdbootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/javascripts/jquery.sticky.js"></script>
    <script>
        var website = angular.module('website', []);
        website.controller('mainCtrl', function($scope) {
            $scope.socialMedia = [
                {
                    socialTitle: "&{'socialFb'}",
                    socialUrl: "https://www.facebook.com/OnesixJerald.BossdOTsupErman",
                    socialIcon: "fa-facebook",
                    socialBtn: "btn-fb",
                },
                {
                    socialTitle: "&{'socialSkype'}",
                    socialUrl: "",
                    socialIcon: "fa-skype",
                    socialBtn: "btn-li",
                },
                {
                    socialTitle: "&{'socialInsta'}",
                    socialUrl: "https://www.instagram.com/gutierrezjerald/?hl=en",
                    socialIcon: "fa-instagram",
                    socialBtn: "btn-ins",
                },
                {
                    socialTitle: "&{'socialTwitter'}",
                    socialUrl: "https://twitter.com/SenaJerald",
                    socialIcon: "fa-twitter",
                    socialBtn: "btn-tw",
                },
            ];
        });
    </script>
    <script>
        $(document).ready(function(){
            window.onkeydown = function(e) {
                if(event.keyCode == 123) {
                    return false;
                }
                if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){
                    return false;
                }
                if(e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)){
                    return false;
                }
                if(e.metaKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)){
                    return false;
                }
                if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){
                    return false;
                }
                if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){
                    return false;
                }
                if(e.ctrlKey && e.keyCode == 'S'.charCodeAt(0)){
                    return false;
                }
                if(e.ctrlKey && e.keyCode == 'C'.charCodeAt(0)){
                    return false;
                }
            }
            $(window).on("contextmenu",function(e){
               return false;
            });

            $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            });
            $('.carousel').carousel({
              interval: 4000
            });
            $('.button-collapse').sideNav({
                edge: 'left',
                closeOnClick: true
            });

            $(".sticky-wrapper").sticky({ topSpacing: 0 });

            (function($) {
                $(".page-scroll a[href^='#']").on('click', function(e) {
                    e.preventDefault();
                    var hash = this.hash;
                    $('html, body').stop().animate({
                    scrollTop: $(hash).offset().top}, 2000, 'easeOutExpo');
                });
            })(jQuery);
        });
    </script>
    #{get 'moreScripts' /}
</head>
<body ng-app="website" data-spy="scroll" ng-controller="mainCtrl">
    <!-- Pre loader -->
    <div id="mdb-preloader" class="flex-center">
        <div id="preloader-markup">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Pre loader -->

    <!-- HOME -->
    <div id="Home" class="carousel slide carousel-fade home" data-ride="carousel" data-interval="false">
        <div class="full-bg-img flex-center home-list">
            <ul>
                <li><h1>&{'myName'}</h1></li>
                <li><p class="mySlogan">&{'mySlogan'}<span>|</span></p></li>
                <li>
                    <div class="socialMedia-item" ng-repeat="item in socialMedia" style="display:inline-block">
                        <a href="{{item.socialUrl}}" class="btn btn-default btn-sm" target="_blank" data-toggle="tooltip" data-placement="top" title="{{item.socialTitle}}">
                            <i class="fa {{item.socialIcon}} fa-1x" aria-hidden="true"></i>
                        </a>
                    </div>
                </li>
                <li class="page-scroll">
                    <a href="#Resume" class="btn btn-default btn-md flex-item">
                        <i class="fa fa-file-text-o fa-1x" aria-hidden="true"></i>
                        Resume
                    </a>
                </li>
            </ul>
        </div>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active"></div>
            <div class="carousel-item"></div>
            <div class="carousel-item"></div>
        </div>
    </div>
    <!-- END HOME -->


    <!--Navbar-->
    <section class="sticky-wrapper">
        <nav class="navbar navbar-dark bg-primary">
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="fa fa-bars fa-2x white-text"></i></a>
            <div class="navbar-desktop flex-center navbar-height ">
                <ul class="nav navbar-nav navMenu">
                    <li class="nav-item page-scroll">
                        <a class="nav-link" href="#Home">&{'mainHome'} <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item page-scroll">
                        <a class="nav-link" href="#About">&{'mainAbout'}</a>
                    </li>
                    <li class="nav-item page-scroll">
                        <a class="nav-link" href="#Resume">&{'mainResume'}</a>
                    </li>
                    <li class="nav-item page-scroll">
                        <a class="nav-link" href="#Portfolio">&{'mainPortfolio'}</a>
                    </li>
                    <li class="nav-item page-scroll">
                        <a class="nav-link" href="#Contact">&{'mainContact'}</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-mobile">
                <ul class="side-nav navMenu" id="mobile-menu">
                    <li class="nav-item page-scroll" style="height:65px;">
                        <a class="nav-link" href="#Home">&{'mainHome'} <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item page-scroll">
                        <a class="nav-link" href="#About">&{'mainAbout'}</a>
                    </li>
                    <li class="nav-item page-scroll">
                        <a class="nav-link" href="#Resume">&{'mainResume'}</a>
                    </li>
                    <li class="nav-item page-scroll">
                        <a class="nav-link" href="#Portfolio">&{'mainPortfolio'}</a>
                    </li>
                    <li class="nav-item page-scroll">
                        <a class="nav-link" href="#Contact">&{'mainContact'}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <!-- END Navbar-->

    <section class="content-for-index">
        #{doLayout /}
    </section>

    <section class="footer">
        <footer class="page-footer center-on-small-only">
            <div class="social-section">
                <ul>
                    <li>
                        <div class="socialMedia-item" ng-repeat="item in socialMedia" style="display:inline-block">
                            <a href="{{item.socialUrl}}" class="btn btn-default btn-floating btn-small {{item.socialBtn}}" target="_blank" data-toggle="tooltip" data-placement="top" title="{{item.socialTitle}}">
                                <i class="fa {{item.socialIcon}} fa-1x" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="footer-copyright">
                <div class="container-fluid">
                    <span>&{'copyRight'}</span>
                </div>
            </div>
        </footer>
    </section>

    <!-- mdBootstrap JS -->
    <script src="/public/mdbootstrap/js/mdb.min.js"></script>
    <!-- END -->
</body>
</html>
